#main-header {
    border: 1px solid gray;
    margin-bottom: 1%;
    display: flex;
    align-items: center;
    justify-content :space-evenly;
}

#sub-header {
    display: flex;
    align-self: flex-end;
    border: 1px solid gray;
    
}

#sub-header p{
    margin : 10px;
}

#Logo {
    width: 30%;
    height: 30%;
    padding : 3%;
    border: 1px solid gray;
}

#hi {
    border: 1px solid gray;
}
